SERVER_NAME = placement-portal-server
SERVER_HOST = 0.0.0.0
SERVER_PORT = 6969

# bcrypt
SECRET_KEY = "qjb3iuoubi1ibnoujd1hnoh*HO*@Ieju1oi9&%"

GOOGLE_CHAT_WEBHOOK_URL = <insert webhook link here>

# Redis
REDIS_URL = redis://localhost:6379/0
